
/* footer */
.last {
    padding: 60px 0;
    background-color: #2f303a;

  
}

.position {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @media screen and (min-width: 768px) {
        justify-content: space-around;
    }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
   
}



.contact {
    display: block;
    text-align: center;

    @media screen and (max-width: 767.9px) {
    flex-grow: 1;
     
    }
    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    }
    @media screen and (max-width: 1199px) {
     margin-bottom: 60px;
    
          }
}

.footer {
    color: var(--secondary-botton-color);
  
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

address {
    margin-top: 20px;
}

.footer .adress {
    background-color: #2f303a;
    color: var(--primary-wight-color);
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}

.footer .auth {
    background-color: #2f303a;
    color: var(--primary-text-color);
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}

.join {
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 767.5px) {
        width: 100%;
        flex-grow: 1;
        align-items: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
    align-items: center;
    }
 
   @media screen and (min-width: 1200px){
    align-items: flex-start;
    margin-right: 93px;}
}



.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.join .socials-link {
    background-color: #ffffff1a;
    color: var(--primary-wight-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join .socials-link:hover,
.join .socials-link:focus {
    background-color: #2196f3;
}

.join .socials-icon {
    fill: currentColor;
}


.subscribe {
    display: flex;
    text-align: center;
        @media screen and (min-width: 1200px) {
                width: 570px;
                margin-left: auto;
                text-align: start;
            }

}
.join-title {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-wight-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
   text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;

    }
}

.subscribe-block{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    @media screen and (max-width: 1199.98px) {
        flex-direction: column;
        align-items: center;
        }
    }


.subscribe-form {
    display: flex;
    align-items: center;
    max-width: 450px;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    
    font-size: 16px;
    line-height: 1.25;
   
    color: #fff;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (max-width: 1199.98px) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: 480px) and (max-width: 1199.98px) {
            width: 450px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 12px;
            width: 358px;
        }
        
}

.subscribe-form:hover,
.subscribe-form:focus {
    border: 1px solid #fff;
}



.subscribe-icon {
    margin-left: 10px;

    /* stroke: rgba(0, 0, 0, 1); */
    stroke-width: 1px;
}

.subscribe-btn-text {
    display: flex;
    align-items: center;
}
